{% extends "base/home.html" %}
{% load static %}

{% block body_content %}

{% if substitutes %}
<section class="page-section"
    style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url({% static 'assets/img/bg-products.jpg' %})">
    <div class="row text-center justify-content-center align-items-center">
        <div class="col-auto text-white">
            <p><i>Vous avez choisi:</i></p>
            <h3>{{ product.product_name_fr }}</h3>
        </div>
    </div>
    <div class="row text-center justify-content-center align-items-center">
        <div class="card mx-1 my-3 shadow p-3 mb-5 border-primary rounded-lg col-lg-4 col-md-6">
            {% if product.nutriscore_grade == "a" %}
            <div class="d-flex flex-row justify-content-center my-1">
                <img src="/static/assets/img/A.png" WIDTH=100 HEIGHT=40 />
            </div>
            {% elif product.nutriscore_grade == "b" %}
            <div class="d-flex flex-row justify-content-center my-1">
                <img src="/static/assets/img/B.png" WIDTH=100 HEIGHT=40 />
            </div>
            {% elif product.nutriscore_grade == "c" %}
            <div class="d-flex flex-row justify-content-center my-1">
                <img src="/static/assets/img/C.png" WIDTH=100 HEIGHT=40 />
            </div>
            {% elif product.nutriscore_grade == "d" %}
            <div class="d-flex flex-row justify-content-center my-1">
                <img src="/static/assets/img/D.png" WIDTH=100 HEIGHT=40 />
            </div>
            {% else %}
            <div class="d-flex flex-row justify-content-center my-1">
                <img src="/static/assets/img/E.png" WIDTH=100 HEIGHT=40 />
            </div>
            {% endif %}
            <img class="card-img-top" src="{{ product.image }}" style="object-fit: contain; height: 20em" />
        </div>
    </div>
    <div class="row text-center justify-content-center align-items-center">
        <div class="col-auto text-white">
            <h4>Vous pouvez remplacer cet aliment par:</h4>
        </div>
    </div>
</section>
<section class="page-section"
    style="background: linear-gradient(to bottom, rgba(207, 207, 207, 0.8) 0%, rgba(160, 160, 160, 0.8) 100%)">
    <div class="row text-center justify-content-center align-items-centers">
        {% for substitute in substitutes %}
        <div class="col-lg-4 col-md-12 d-flex align-items-stretch">
            <div class="card mx-3 shadow p-3 mb-5 bg_white border-primary rounded flex-fill">
                <div class="d-flex justify-content-between">
                    {% if user.is_authenticated %}
                        {% if substitute.is_fav %}
                        <div class="d-flex justify-content-start">
                            <a href="{% url 'add_or_remove_favorite' substitute.id %}" class="bi bi-heart-fill" style="font-size: 2rem"
                                role="button" data-toggle="tooltip" data-placement="bottom" title="Retirer des favoris"></a>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-start">
                            <a href="{% url 'add_or_remove_favorite' substitute.id %}" class="bi bi-heart" style="font-size: 2rem"
                            role="button" data-toggle="tooltip" data-placement="bottom" title="Ajouter aux favoris"></a>
                        </div>
                        {% endif %}
                    {% endif %}
                    {% if substitute.nutriscore_grade == "a" %}
                    <div class="d-flex flex-row-reverse mb-1">
                        <img src="/static/assets/img/A.png" WIDTH=100 HEIGHT=40 />
                    </div>
                    {% elif substitute.nutriscore_grade == "b" %}
                    <div class="d-flex flex-row-reverse mb-1">
                        <img src="/static/assets/img/B.png" WIDTH=100 HEIGHT=40 />
                    </div>
                    {% elif substitute.nutriscore_grade == "c" %}
                    <div class="d-flex flex-row-reverse mb-1">
                        <img src="/static/assets/img/C.png" WIDTH=100 HEIGHT=40 />
                    </div>
                    {% elif substitute.nutriscore_grade == "d" %}
                    <div class="d-flex flex-row-reverse mb-1">
                        <img src="/static/assets/img/D.png" WIDTH=100 HEIGHT=40 />
                    </div>
                    {% else %}
                    <div class="d-flex flex-row-reverse mb-1">
                        <img src="/static/assets/img/E.png" WIDTH=100 HEIGHT=40 />
                    </div>
                    {% endif %}
                </div>
                <img class="card-img-top" src="{{ substitute.image }}" style="object-fit: contain; height: 20em" />
                <div class="card-body">
                    <div class="text-primary"><br> {{ substitute.brands }} <br></div>
                    <div class="text-secondary"> <em>{{ substitute.product_name_fr }}</em><br><br></div>
                    {% if substitute.medium_rate %}
                    <div class="badge bg-primary text-wrap mb-2" style="width: auto; height: auto; font-size: 1.5rem">{{ substitute.medium_rate }} / 5</div>
                    <div class="text-secondary">{{ substitute.number_of_voters }} évaluation(s)</div>
                    {% endif %}
                </div>
                <div class="card-footer row">
                    {% if user.is_authenticated %}
                        <a id="rate-button" href="{% url 'rate' substitute.id %}" class="btn btn-outline-primary mt- bi bi-star-fill" role="button">&nbsp Evaluer
                            ce
                            produit </a>
                    {% endif %}
                    <a href="{% url 'product' substitute.id %}" class="btn btn-outline-primary mt-2" role="button">Fiche
                        produit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% else %}
<section class="page-section h-75"
    style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url({% static 'assets/img/bg-products.jpg' %})">
    <div class="row h-100 text-center justify-content-center align-items-center">
        <div class="col-auto text-white">
            <h4>Désolé, nous n'avons pas trouvé de produit de substitution plus sain.</h4>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}