{% extends "base/main.html" %}

{% block body_content %}

<header class="masthead">

    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="bg-white col-10 col-lg-6 rounded">
            <h3 class="text-primary mt-3 text-center"> Contact </h3>
            <hr class="divider my-4" />
            <h2>Directrice de l'établissement:</h2>
            <p>Colette Tatou<br> <i class="bi bi-envelope-fill text-primary"></i> <a
                    href="mailto:colette.tatou@pur-beurre.com">&nbsp colette.tatou@pur-beurre.com</a></p>
            <h4>Responsable cuisine:</h4>
            <p>Rémy Le Rat<br> <i class="bi bi-envelope-fill text-primary"></i> <a
                    href="mailto:remy.le.rat.trop.cool@pur-beurre.com">&nbsp remy.le.rat.trop.cool@pur-beurre.com</a></p>
            <h4>Info & réservation:</h4>
            <p>mail: <i class="bi bi-envelope-fill text-primary"></i><a
                    href="mailto:info@pur-beurre.com">&nbsp info@pur-beurre.com</a> &nbsp <i
                    class="bi bi-telephone-fill text-primary"></i>&nbsp+33 3 12 34 56 78</p>

</header>
{% endblock %}