{% extends "base/main.html" %}
{% load static %}

{% block body_content %}
<!-- Masthead-->
<header class="masthead">

    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">Du gras, oui mais de qualité !</h1>
            <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous
                les jours.</p>
            <form method="get" action="{% url 'product_list' %}" >
                <input id="home-search" name="search" type="text" placeholder="chercher un aliment"
                    class="border-0 rounded p-1" required>
                <input type="submit" value="Chercher" class="btn btn-primary">
            </form>
        </div>
        {% block product_list%}{% endblock %}
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h1 class="text-center">Colette et Remy</h1>
        <hr class="divider my-4" />
        <div class="row justify-content-center">
            <div class="col-8 text-justify">
                <h2>Notre identité <br><br></h2>
                <h4>De la ratatouille aux croissants<br><br></h4>
                <div class="js-b-text__text b-text__text co-editor co-editor--default">Pur Beurre est l'initiative de
                    deux amoureux
                    de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans
                    notre
                    excellent restaurant Ratatouille.
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="mt-2">
                        <img src="{% static 'assets/img/colette-tatou-full.png' %}" width="40%" class="mb-3">
                        <h3 class="h4">Colette Tatou</h3>
                            <div class="mx-3">
                                <p>"<i>Nous aimons tous
                            manger, surtout
                            en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge
                            me suffisent
                            amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me
                            suis rendue
                            compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits
                            aseptisés que
                            j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix
                            !   </i>"</p>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center align-self-end ">
                    <div class="mt-2">
                        <img src="{% static 'assets/img/ratatouille-portrait.jpg' %}" width="50%" class="mb-3">
                        <h3 class="h4">Remy</h3>
                            <div class="mx-3">
                                <p>"<i>Pour ma part je me rendais déjà dans bien des magasins car
                            j'aime
                            beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu
                            des
                            boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque
                            Colette m'a
                            demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout
                            de suite où
                            le trouver. L'idée de Pur Beurre était née !
                                </i>"</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/1.jpg' %}" title="Remy, se faisant une place dans la société ">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/1.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Remy</div>
                        <div class="project-name">Se faisant une place dans la société</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/2.jpg' %}" title="Remy, rêvant de Colette">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/2.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Remy</div>
                        <div class="project-name">Rêvant de Colette</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/3.jpg' %}" title="Remy, cherchant l'inspiration">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/3.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Remy</div>
                        <div class="project-name">Cherchant l'inspiration</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/4.jpg' %}" title="Colette heureuse, simplement">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/4.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Colette</div>
                        <div class="project-name">Heureuse, simplement</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/5.jpg' %}" title="Colette, toujours persuadée de pouvoir lire sans ses lunettes">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/5.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Colette</div>
                        <div class="project-name">Toujours persuadée de pouvoir lire sans ses lunettes</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'assets/img/portfolio/fullsize/6.jpg' %}" title="Colette, lisant un article du Gorafi">
                    <img class="img-fluid" src="{% static 'assets/img/portfolio/thumbnails/6.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Colette</div>
                        <div class="project-name">Lisant un article du Gorafi</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<section class="page-section bg-secondary" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 text-white">Contactez-nous!</h2>
                <hr class="divider my-4" />
                <p class="mb-5 text-white">Une question, une envie? N'hésitez pas à nous contacter !</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="bi bi-telephone-fill text-white" style="font-size: 3rem"></i>
                <div class="text-white">+33 3 12 34 56 78</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="bi bi-envelope-fill text-white" style="font-size: 3rem"></i>
                <a class="d-block text-white" href="mailto:info@pur-beurre.com">info@pur-beurre.com</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}